<h2>Our Books</h2>

<ul>
  {{#each bookArray}}
  <li>
    <h3>{{this.title}}

    </h3>
    <p>by {{this.author}}</p>

    {{!-- embed the ID of the boook into the address of its page --}}
    <a href="/book/{{this._id}}">Details</a>

  </li>
  {{/each}}
</ul>